$primary-font: "Poppins", sans-serif;
$secondary-font: "Lobster", cursive;
$extra-font: "Pacifico", cursive;

// COLOR
$light: #fff;
$sami-darkBg: #333;
$darkBg: #222;
$secondaryColor: #04b4e0;
$borderColor: #444;
